//config
@import "./config/_variables.scss";
@import "./config/reset.scss";
//components
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
//screens
@import "./screens/home.scss";
@import "./screens/login.scss";
@import "./screens/survey.scss";
//defaluts
a{
    color: inherit;
    text-decoration: none;
}
p,h1{
    line-height: 1.2;
}