.home{
    font-family: 'Kalam', cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: radial-gradient(ellipse,rgb(212 201 158) 30%,rgb(29,16,9));
    color: white;
}

.home img{
    width: 40%;
}
div.info{
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
div.info h1{
    font-size: 2.5rem;
}
.start{
    height: 80%;
    width: 10%;
    border: 1px;
    border-radius: 8px;
    background-color: darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info a{
    font-size: 1.5rem;
    display: inline-block;
    color: white;
    text-align: center;
}