#prophecy{
    height: 100vh;
    background-color: rgb(155 44 242);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
#p_info{
    height: 90%;
    width: 90%;
    border: 2px solid;
    border-color: white;
}