.result{
    height: 100vh;
    display: flex;
    color: black;
}

#griffindor{
    background: linear-gradient(to bottom,tomato,70%,rgb(238, 236, 227));
}
#slyderin{
    background: linear-gradient(to bottom,rgb(36,93,57),70%,rgb(238, 236, 227));
}
#huffulepuff{
    background: linear-gradient(to bottom,rgb(245,165,29),70%,rgb(238, 236, 227));
}
#ravenclaw{
    background: linear-gradient(to bottom,rgb(20,49,125),70%,rgb(238, 236, 227));
}

#logo{
    height: 18%;
}
#logo2{
    height: 40%;
}
#result{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-family: 'Metal Mania', cursive;
    margin-left: 5%;
    margin-right: 5%;
}
#feature{
    width:55%
}

.dorm {
    width: 100%;
    text-align: center;
}
