extends base.pug

block content
    include mixins/user
    body#admin
        h1 admin
        div#table
            span griffindor:#{griffindor}, slyderin:#{slyderin} ,huffulpuff:#{huffulepuff}, ravelclaw:#{ravenclaw}
            table
                tr
                    th 이름
                    th 결과
                    th 선택받은 아이 
                    each user in users
                        +user(user)
                    else
                        li Sorry nothing found.