include mixins/user
doctype html 
html(lang = "ko")
    head 
        title Hoseowarts
    body 
        h1 admin
        span griffindor:#{griffindor}, slyderin:#{slyderin} ,huffulpuff:#{huffulepuff}, ravelclaw:#{ravenclaw}
        each user in users
            +user(user)
        else
            li Sorry nothing found.