include mixins/user
extends base.pug

block content
    body 
        h1 admin
        span griffindor:#{griffindor}, slyderin:#{slyderin} ,huffulpuff:#{huffulepuff}, ravelclaw:#{ravenclaw}
        each user in users
            +user(user)
        else
            li Sorry nothing found.