extends base.pug

block content
    body.home
        img(src="/static/images/home.png")

        div.info
            h1 Which Hogwarts House You Truly Belong In?
            a(href="http://localhost:7000/login") Start