extends base.pug

block content
    body.home
        #imgs
            img.logo(src="/static/images/logo.png")
            img#hat(src="/static/images/home.png")

        div.info
            h1 Which Hoseowarts House You Truly Belong In?
            a.start(href="/login") Start
