doctype html 
html(lang = "ko")
    head 
        title Hoseowarts
        link(rel="stylesheet", href="/css/home.css")
    body 
        h1 Where is your dormitory?
        a(href="http://localhost:7000/login") Start