extends base.pug

block content
    body.background
        div.login
            h1 What's your name?
            form(method="POST")
                input(type="text",name="name",required)
                input.custom-btn(type="submit",value="submit")
