doctype html 
html(lang = "ko")
    head 
        title Hoseowarts
    body 
        h1 What's your name?
        form(method="POST")
            input(type="text",name="name")
            input(type="submit")