doctype html 
html(lang = "ko")
    head 
        title Hoseowarts
        link(rel="stylesheet", href="/static/css/styles.css")
        script let t=1; setTimeout(`location.href='/#{id}/result'`, 5000);
        body#prophecy
            div#p_info
                h1 축하합니다! 예언의 아이에 선정되셨습니다!
                h2 리플렛과 함께 뱃지를 받고 가주세요!
                h3 도무지 디자인 아이디어가 생각나지 않네요
                h4 result page와 함께 되도록이면 디테일하게 부탁드려요~
                h5 예언의 아이 설명 어디에 들어갈지 타로카드요소는 어디에 들어갈지 그런거
                h6 자세히 부탁드릴게요~ 다른 거보다 저한테는 이런게 젤 어려워서요
        
        
            