doctype html 
html(lang = "ko")
    head 
        title Hoseowarts
        link(rel="stylesheet", href="/static/css/styles.css")
        
        body#prophecy
            div#p_info
                
                h4#time 8
        script.

            let t = document.querySelector("#time");
            setInterval(()=>t.innerText=t.innerText-1, 1000);
            setTimeout(`location.href='/#{id}/result'`, 8500);

        
        
            