doctype html 
html(lang = "ko")
    head 
        title Hoseowarts
        link(rel="stylesheet", href="/static/css/styles.css")
        
        body#prophecy
            div#p_info
                h1 축하합니다! 예언의 아이에 선정되셨습니다!
                h2 리플렛과 함께 뱃지를 받고 가주세요!
                h3 이 메세지는 5초 후 사라집니다.
                h4#time 5
        script.

            let t = document.querySelector("#time");
            setInterval(()=>t.innerText=t.innerText-1, 1000);
            setTimeout(`location.href='/#{id}/result'`, 5500);

        
        
            