extends base.pug

block content
    script var result = "#{result}"
    
    case result
        when 'griffindor'
            body#griffindor.result
                div#result
                    img#logo(src="/static/images/logo2.png")
                    img#logo2(src="/static/images/griffindor.png")
                    div.dorm Griffindor
                    a(href="/") End 
     
        when 'slyderin'
            body#slyderin.result
                div#result
                    img#logo(src="/static/images/logo2.png")
                    img#logo2(src="/static/images/slyderin.png")
                    div.dorm Slyderin
                    a(href="/") End 

        when 'huffulepuff'
            body#huffulepuff.result
                div#result
                    img#logo(src="/static/images/logo2.png")
                    img#logo2(src="/static/images/huffulepuff.png")
                    div.dorm Huffulepuff
                    a(href="/") End 

        when 'ravenclaw'
            body#ravenclaw.result
                div#result
                    img#logo(src="/static/images/logo2.png")
                    img#logo2(src="/static/images/ravenclaw.png")
                    div.dorm Ravenclaw
                    a(href="/") End 