extends base.pug

block content
    script
        var result = #{result}
    body.result   
        case result
            when '1'
                img(src="/static/images/griffindor.png")
            when '2'
                img(src="/static/images/slyderin.png")
                
            when '3'
                img(src="/static/images/huffulepuff.png")
            when '4'
                img(src="/static/images/ravenclaw.png")
                
        a(href="/") end
        script(src="/static/js/main.js")
